.button {
  cursor: pointer;
  background-color: var(--colButtonsHighlight);
  color: var(--colTitles);
  padding: 20px 30px;
  transition: background-color 0.2s ease-in-out;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.12em;
}

.button:hover {
  background-color: var(--colButtonHover);
}

.small {
  max-width: 50%;
}

@media (max-width: 768px) {
  .small {
    max-width: 100%;
  }
}