.footer {
  /* width: calc(100% - 300px); */
  width: 100%;
  background-color: var(--colFooter);
  color: white;
  /* padding: 0px 150px;
  padding-bottom: 80px; */
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 150px;
  /* padding-bottom: 80px; */
  /* justify-content: center; */
}

.column {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 300;
  margin-right: 50px;
  margin-top: 80px;
}

.column h1 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.column h1 img {
  width: 12px;
  margin-left: 10px;
}

.column li {
  margin-bottom: 20px;
  font-size: 1rem;
}

.links li {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.links li:hover {
  color: var(--colButtonsHighlight);
}

.column li:last-of-type {
  margin-bottom: 0;
}

.email {
  margin-top: 80px;
  font-weight: bold;
}

.form * {
  margin-bottom: 20px;
}

.column input {
  outline: none;
  border: solid var(--colBody) 1px;
  padding: 15px 100px 15px 10px;
}

.column input:focus {
  border: solid var(--colButtonsHighlight) 1px;
}

.column button {
  display: block;
  border: solid white 2px;
  background: none;
  color: white;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Outfit', Arial;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  margin-bottom: 80px;
}

.column button:hover {
  background-color: white;
  color: var(--colFooter);
}

.linkedinLogo {
  /* aspect-ratio: 1; */
  width: 60px;
  margin-top: 20px;
  cursor: pointer;
}

.break {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 120px;
}

.legal {
  padding: 0px 150px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.legalLinks h1 {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
  white-space: nowrap;
}

.legalLinks h1:hover {
  color: var(--colButtonsHighlight);
}

.disclaimer {
  padding: 0px 150px;
  padding-bottom: 80px;
  max-width: 1025px;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 200;
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    padding: 0 40px;
  }

  .column:nth-of-type(3), .column:nth-of-type(4) {
    margin-top: 20px;
  }

  .column h1 {
    margin-bottom: 20px;
  }

  .email {
    margin-top: 0;
    margin-bottom: 0px;
  }

  .break {
    margin-top: 40px;
  }

  .legalLinks:first-of-type {
    margin-top: 40px;;
  }

  .legalLinks {
    margin-top: 20px;
  }

  .legal {
    flex-direction: column;
    padding: 0 40px;
  }

  .disclaimer {
    margin-top: 20px;
    padding: 0 40px;
    padding-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .column h1, .column li {
    font-size: 1rem;
  }
}