.products {
  /* width: width(100% - 300px); */
  background-color: var(--colBg);
  /* padding: 80px 150px; */
  padding: 150px 40px;
  /* display: flex;
  align-items: center; */
}

.products > div {
  width: calc(100% - 80px);
  display: flex;
  align-items: center;
}

.products h1 {
  font-size: 3rem;
  color: var(--colTitles);
}

.products h2 {
  font-size: 2.5rem;
  color: var(--colTitles);
  max-width: 650px;
  margin-top: 40px;
}

.products img {
  width: 350px;
  margin-left: 160px;
}

.text {
  display: flex;
  flex-direction: column;
}

.details {
  /* padding: 80px 0px; */
  padding: 80px 40px;
}

.block {
  margin-bottom: 60px;
}

.block:last-of-type {
  margin-bottom: 0;
}

.block h1 {
  color: var(--colTitles);
}

.block p {
  font-size: 1.5rem;
  font-weight: 300;
  /* color: var */
}

.block p:first-of-type {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .products {
    padding: 80px 40px;
    /* flex-direction: column;
    align-items: flex-start; */
  }

  .products > div {
    width: 100%;
    /* max-width: calc(100% - 80px); */
    flex-direction: column;
    align-items: flex-start;
  }

  .products h2 {
    max-width: 100%;
  }

  .products img {
    margin-top: 60px;
    margin-left: 0;
  }

  .details {
    padding: 80px 40px;
  }
}

@media (max-width: 768px) {
  .products h1 {
    font-size: 2rem;
  }

  .products h2 {
    font-size: 1.5rem;
  }

  .products img {
    max-width: 80%;
  }

  .details p {
    font-size: 1rem;
  }
}