.services {
  /* width: calc(100% - 300px); */
  background-color: var(--colBg);
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  /* padding: 150px; */
  /* width: calc(100% - 80px); */
  /* padding: 150px 40px; */
  padding: 150px 0;
}

.services > div {
  /* width: calc(100% - 80px); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 50%;
}

.column img {
  margin-bottom: 80px;
}

.column p {
  margin-bottom: 80px;
  /* max-width: 650px; */
  max-width: 500px;
  max-width: 75%;
}

.minHeight {
  min-height: 120px;
}

@media (max-width: 1024px) {
  .column {
    max-width: 75%;
  }

  .services {
    /* flex-direction: column;
    align-items: center;
    width: 100%; */
    padding: 80px 0;
  }

  .services > div {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .column:first-of-type {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .column {
    max-width: 90%;
  }

  .column img {
    height: 200px;
  }

  .column p {
    max-width: 75%;
  }
}