.team {
  padding: 80px 150px;
}

.team h1 {
  font-size: 3rem;
  color: var(--colTitles);
  margin-bottom: 60px;
}

.team p {
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 700px;
  line-height: 2em;
  margin-bottom: 60px;
}

.photos {
  /* position: relative; */
}

.row3 {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.row2 {
  display: flex;
  justify-content: center;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.profile:hover .overlay {
  opacity: 1;
}

.profile img {
  width: calc((100vw - 315px - 80px) / 3);
  /* aspect-ratio: 1; */
  height: 450px;
  object-fit: cover;
  margin-right: 40px;
}

.row3 .profile:last-of-type img {
  margin-right: 0;
}

.row2 .profile:last-of-type img {
  margin-right: 0;
}

.row3 .profile:last-of-type .overlay {
  width: 100% !important;
}

.row2 .profile:last-of-type .overlay {
  width: 100% !important;
}

.profile h2 {
  margin-top: 10px;
  font-weight: 300;
  white-space: nowrap;
}

.profile h2:nth-of-type(2) {
  color: #838383;
  margin-top: 0;
  font-weight: 200;
}

.supplementary {
  display: flex;
  flex-direction: row;
}

.suppProfile {
  position: relative;
  display: flex;
  flex-direction: column;
}

.suppProfile:hover .overlay {
  opacity: 1;
}

.suppProfile img {
  width: calc((100vw - 315px - 80px) / 5);
  /* aspect-ratio: 1; */
  height: 265px;
  object-fit: cover;
  margin-right: 20px;
}

.suppProfile h2 {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 300;
}

.suppProfile h2:nth-of-type(2) {
  color: #838383;
  margin-top: 0;
  font-weight: 200;
}

.supplementary .suppProfile:last-of-type img {
  margin-right: 0;
}

.image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 4px);
  background-color: rgba(2, 51, 93, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.linkedin {
  width: 60px !important;
  height: 60px !important;
  margin: 0 !important;
  cursor: pointer;
}

.suppProfile .overlay {
  width: calc(100% - 20px) !important;
}

.suppProfile:last-of-type .overlay {
  width: 100% !important;
}

@media (max-width: 1024px) {
  .team {
    padding: 80px 40px;
  }

  .team h1, .team p {
    /* text-align: center; */
    max-width: 100%;
  }

  .row3, .row2 {
    flex-direction: column;
  }

  .supplementary {
    flex-direction: column;
  }

  .profile img {
    /* width: calc(100vw - 315px); */
    width: calc(100vw - 95px);
    margin-right: 0;
    aspect-ratio: 1;
    height: auto;
  }

  .supplementary img {
    /* width: calc(100vw - 315px); */
    width: calc(100vw - 95px);
    margin-right: 0;
    aspect-ratio: 1;
    height: auto;
  }

  .profile h2 {
    /* text-align: center; */
  }

  .suppProfile {
    margin-bottom: 60px;
  }

  .suppProfile .overlay {
    width: 100% !important;
  }

  .suppProfile h2 {
    font-size: 1.5rem;
    /* text-align: center; */
  }

  .overlay {
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* .team {
    padding: 80px 40px;
  } */

  .team h1 {
    font-size: 2rem;
  }

  .team p {
    font-size: 1rem;
    max-width: 100%;
  }

  .profile img {
    width: calc(100vw - 95px);
    margin-right: 0;
  }

  .profile h2 {
    font-size: 1.25rem;
  }

  .suppProfile img {
    width: calc(100vw - 95px);
    margin-right: 0;
    aspect-ratio: 1;
    height: auto;
  }

  .suppProfile h2 {
    font-size: 1.25rem;
  }
}